# Scaling_Travel_Dataset

In [6]:
#Comment
#Observation

In [41]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [21]:
# 1) Scaling with sklearn MinMaxScaler doing one column at a time

In [26]:
scaler = MinMaxScaler()

In [27]:
data=pd.read_csv("C:\\Users\\Admin\\PycharmProjects\\EDA&FeatureEngg\\Dataset\\data1\\Travel.csv")

In [28]:
df1=data

In [29]:
df1[["MonthlyIncome"]] = scaler.fit_transform(df1[["MonthlyIncome"]])

In [30]:
df1[["MonthlyIncome"]].head()

   MonthlyIncome
0       0.204683
1       0.195848
2       0.164725
3       0.173110
4       0.178832

In [31]:
# 2) Scaling with sklearn MinMaxScaler doing multiple columns at a time

In [37]:
df2=data

In [38]:
df2[["ScaledNumberOfTrips", "ScaledMonthlyIncome"]] = scaler.fit_transform(
    df2[["NumberOfTrips", "MonthlyIncome"]])

In [39]:
df2.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome',
       'ScaledNumberOfTrips', 'ScaledMonthlyIncome'],
      dtype='object')

In [40]:
df2.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,...,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,ScaledNumberOfTrips,ScaledMonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,...,Single,1.0,1,2,1,0.0,Manager,0.204683,0.000000,0.204683
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,...,Divorced,2.0,0,3,1,2.0,Manager,0.195848,0.047619,0.195848
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,...,Single,7.0,1,3,0,0.0,Executive,0.164725,0.285714,0.164725
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,...,Divorced,2.0,1,5,1,1.0,Executive,0.173110,0.047619,0.173110
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,...,Divorced,1.0,0,5,1,0.0,Executive,0.178832,0.000000,0.178832

In [4]:
# 3) Scaling using standardization

In [56]:
scaler = StandardScaler()

In [57]:
df3_Scaled = pd.DataFrame(data, columns=['NumberOfTrips','MonthlyIncome'])

In [58]:
df3_Scaled[['NumberOfTrips', 'MonthlyIncome']] = scaler.fit_transform(df3_Scaled[['NumberOfTrips','MonthlyIncome']].to_numpy())

In [59]:
df3_Scaled.head()

   NumberOfTrips  MonthlyIncome
0      -1.209699      -0.488252
1      -0.668814      -0.648657
2       2.035607      -1.213700
3      -0.668814      -1.061473
4      -1.209699      -0.957572